

<div class="container">
    <div class="row" *ngIf="houseValue">
            <div class="col-md-6">
                <label >Name:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.name" readonly>
            </div>
            
            <div class="col-md-6">
                <label >Coat Of Arms:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.coatOfArms" readonly>
             
            </div>
            <div class="col-md-6"> 
                <label >Region:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.region" readonly>
            
            </div>
            <div class="col-md-6">
                <label >Overlord:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.overlord" readonly>       
            </div>
            <div class="col-md-6">
                <label >Current Overlord:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.currentLord" readonly>
            </div>
            
            <div class="col-md-6">
                <label >Founded:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.founded" readonly>
              
            </div>
            <div class="col-md-6">
                <label >Region:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.region" readonly>
             
            </div>
            <div class="col-md-6">
                <label >Seats:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.seats" readonly>
             
            </div>
            <div class="col-md-6">
                <label >Titles:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.titles" readonly>
      
            </div>
            <div class="col-md-6">
                <label >Sworn Members:</label>
                <input type="text" class="form-control" style="margin-left:55px;"  name="bookName" [(ngModel)]="houseValue.swornMembers" readonly>
            </div>
           
    </div>
  
    <hr>
  </div>  